body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaper.jpg");
    background-size: cover; /* See full picture*/
    background-repeat: no-repeat; /*No repeat*/
    background-attachment: fixed;
    /*The background-attachment property 
    sets whether a background image scrolls with 
    the rest of the page, or is fixed */

    /*Fixed: The background image will not scroll with 
    the page*/

    background-position: center;
    
}

